name: Sync Package Version on Tag Release

on:
  push:
    tags:
      - 'v*.*.*'

permissions:
  contents: write

jobs:
  tag-release:
    uses: shuurei/workflows/.github/workflows/sync-version.yml@main
    with:
      main_branch: main
      dev_branch: dev
      release_tag: ${{ github.ref_name }}
